{% extends 'base.html' %}

{% block title %}
    Каталог
{% endblock %}

{% block content %}

<main>
    <section class="container">
            <div class="text-center row pt-3 ">
                <h2 class="fw-light">Каталог товаров</h2>
            </div>
            <div class="pb-3">
                <a href="/create/" class="btn btn-dark">Добавить</a>
            </div>
    </section>

    <div class="album pb-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for item in clothes %}

                <div class="col" id="clothes_{{ item._id }}">
                    <div class="card shadow-sm">
                        <img src="/static/img/{{ item.imagePath }}" class="card-img-top" alt="" width="100%" height="100%">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-inline-flex">
                                        <button class="btn btn-sm btn-outline-dark preview"
                                                data-id="{{ item._id }}"
                                                data-bs-toggle="modal" 
                                                data-bs-target="#Modal">Подробнее</button>
                                        
                                        <form action="/update/{{ item._id }}" method="get">
                                            <button type="submit" class="btn btn-sm btn-outline-dark ms-1">Изменить</button>
                                        </form>
                                        
                                        <form class="delete-form" data-id="{{ item._id }}">
                                            <button type="submit"
                                                    class="btn btn-sm btn-outline-danger ms-1">Удалить</button>
                                        </form>   
                                    </div>
                                <small class="fw-bold">{{ item.price }} р.</small>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>

     <!-- clothes info modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Информация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="name"><strong>Название:</strong></label>
                    <p id="name" class="py-1"></p>

                    <label for="category"><strong>Категория:</strong></label>
                    <p id="category" class="py-1"></p>

                    <label for="color"><strong>Цвет:</strong></label>
                    <p id="color" class="py-1"></p>

                    <label for="sizes"><strong>Размеры:</strong></label>
                    <p id="sizes" class="py-1"></p>

                    <label for="price"><strong>Цена:</strong></label>
                    <p id="price" class="py-1"></p>

                    <label for="description"><strong>Описание:</strong></label>
                    <p id="description" class="py-1"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn-dark" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
