{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<main>
    <div class="container py-4">
        {% if clothes %}
        <form method="POST" class="update-form" enctype="multipart/form-data">
        {% else %}
        <form method="POST" class="create-form" enctype="multipart/form-data">
        {% endif %}
            <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" 
                        class="form-control" 
                        name="name" 
                        id="name"
                        placeholder="Футболка Itachi" 
                        value="{{ clothes.name }}" 
                        required>
            </div>

            <div class="mb-3">
                <label for="categorySelect" class= "form-label">Категория</label>
                <select class="form-select" id="categorySelect" name="category_id" value="{{ clothes.category_id }}">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="colorSelect" class= "form-label">Цвет</label>
                <select class="form-select" name="color_id" id="colorSelect" value="{{ clothes.color_id }}">
                    {% for color in colors %}
                    <option value="{{ color.id }}">{{ color.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="costInput" class="form-label">Цена</label>
                <input type="number" 
                        class="form-control" 
                        name="price" 
                        id="costInput"
                        placeholder="1000 р." 
                        value="{{ clothes.price }}" 
                        required 
                        step="any">
            </div>

            <div class="mb-3">
                <label for="sizeInput" class="form-label">Размеры</label>
                <input type="text" 
                        class="form-control" 
                        name="sizes"  
                        id="sizeInput"
                        placeholder="M, L" 
                        value="{{ clothes.sizes }}" 
                        required>
            </div>

            <div class="mb-3">
                <label for="controlDescriptionTextArea">Описание</label>
                <textarea class="form-control" 
                            name="description"
                            placeholder="Футболка прямого кроя, выполненная из синтетической ткани, приятной на ощупь."
                            id="controlDescriptionTextArea" rows="5">{{ clothes.description }}</textarea>
            </div>

            <div class="mb-3">
                <label for="imageFile" class="form-label">Фото</label>
                <input class="form-control" type="file" name="imagePath" value="{{ clothes.imagePath }}" id="imageFile">
            </div>

            <div class="pt-3">
                <button type="submit" class="btn btn-dark">Ok</button>
                <a href="/admin" class="btn btn-outline-dark ms-1">Назад</a>
            </div>

        </form>
    </div>
</main>

{% endblock %}