{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<main>
    <div class="container py-4">
        <form action="/create/" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Футболка Itachi" required>
            </div>

            <div class="mb-3">
                <label for="categorySelect" class= "form-label">Категория</label>
                <select class="form-select" name="category_id">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="colorSelect" class= "form-label">Цвет</label>
                <select class="form-select" name="color_id" id="colorSelect">
                    {% for color in colors %}
                    <option value="{{ color.id }}">{{ color.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="costInput" class="form-label">Цена</label>
                <input type="number" class="form-control" name="price" id="costInput" placeholder="1000 р." required step="any">
            </div>

            <div class="mb-3">
                <label for="sizeInput" class="form-label">Размеры</label>
                <input type="text" class="form-control" name="sizes"  id="sizeInput" placeholder="M, L" required>
            </div>

            <div class="mb-3">
                <label for="controlDescriptionTextArea">Описание</label>
                <textarea class="form-control" name="description" id="controlDescriptionTextArea" rows="5" placeholder="Футболка прямого кроя, выполненная из синтетической ткани, приятной на ощупь."></textarea>
            </div>

            <div class="mb-3">
                <label for="imageFile" class="form-label">Фото</label>
                <input class="form-control" type="file" name="imagePath" id="imageFile">
            </div>

            <div class="pt-3">
                <button type="submit" class="btn btn-dark">Ok</button>
            </div>

        </form>
    </div>
</main>

{% endblock %}